# Crafty Controller Settings
CRAFTY_URL=http://localhost:8443
CRAFTY_API_TOKEN=your_crafty_api_token_here

# CurseForge Settings
CURSEFORGE_API_KEY=your_curseforge_api_key_here

# Local Paths (Used if running locally)
# Windows example: C:\Users\Name\AppData\Local\crafty\servers
# Linux example: /var/lib/crafty/servers
CRAFTY_SERVERS_PATH=
